<!DOCTYPE html>
    <head>

        <title>css styles</title>
    <!-- link gives the url to the external files and images-->
        <link rel="stylesheet" href="../styles/selectorstyles.css"/>

    </head>

    <body>

    <!--main article for forms-->
        <article>
            <!--page header-->
            <header id="main-heading">
                <h1>Learning styles for a html page!</h1>
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.google.com/maps">Maps</a>
                        </li>
                        <li>
                            <a href="https://www.google.com/mail">Mail</a>
                        </li>
                        <li>
                            <a href="https://www.google.com/images">Images</a>
                        </li>
                        <li>
                            <a href="https://www.google.com/shopping">Shopping</a>
                        </li>
                    </ul>

                </nav>

            </header>

            <!--main body of the page-->
            <section>
                <center>

                    <!--form -->
                    <form name="Employee">

                        <!--First Name-->
                        <div>
                            <label for="empName">Employee's Full Name:</label>
                            <input type="text" id="empName" name="fName" placeholder="Enter your Full Name"/>
                        </div>


                        <!--Phone Number-->
                        <div>
                            <label for="phoneNumber">Applicant's Phone Number:</label>
                            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter your Phone Number" />
                        </div>

                        <!--Email Id-->
                        <div>
                            <label for="emailId">Email Id:</label>
                            <input type="text" id="emailId" name="emailId" placeholder="Enter your email Id"/>
                        </div>

                        <!--Password-->
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password"/>
                        </div>

                        <!--Gender-->
                        <div>
                            <label for="gender">Applicant's Gender:</label>
                            <div>
                                <!--male-->
                                Male:<input type="radio" id="male" name="gender" value="Male"/>

                                <!--female-->
                                Female:<input type="radio" id="female" name="gender" value="Female"/>
                            </div>
                        </div>

                        <!--current employee-->

                        <label for="currentEmp">Are you currently Employed?</label>
                        <input type="checkbox" id="currentEmp" name="currentEmp" />

                        <!--submit button-->
                        <button type="submit" id="submit">
                            <span>Submit</span>
                        </button>

                        <!--reset/cancel-->
                        <button type="reset" class="btn btn-primary" id="reset" style="backgroung:#fa0c28">
                            <span>Cancel</span>
                        </button>
                        <div>
                            <p>thank you for visiting the page</p>
                        </div>
                        <p>For more details: contact us</p>
                        <p>Look bottom links for others</p>
                    </form>
                </center>
            </section>

            <!--footer of the page-->
            <footer id="main-footer">
                <p> I'm at the bottom </p>
                <nav>
                    <ul>
                        <li>
                            <a href="/disclaimer">Disclaimer</a>
                        </li>
                        <li>
                            <a href="/email">Email US</a>
                        </li>
                        <li>
                            <a href="/download">Download Form</a>
                        </li>
                        <li>
                            <a href="/emergency">Emergency</a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </article>

    </body>
</html>